<div ng-controller="ContactCtrl">
<h1>Here my contacts</h1>
<h2>{{title}}</h2>
<!--input type="text" class="form-control" ng-model="vm.message">
<p>{{vm.message}}</p-->

<!--input type="text" ng-model="name"/>
<br/>
{{name}}
<br/-->
<div class="container">
    <div exampler strength>
        This is dog
    </div>
    <div exampler speed flight>
        This is cat
    </div>
    <div exampler speed strength flight>
        This is horse
    </div>
    <div enter leave>
        Hi people
    </div>
    <br/>
    <div enter2="panel" leave2>
        Hi people
    </div>
</div>
    <form name="textForm" ng-submit="sendForm()">
    <div select-awesome="selectAttr" title="selectMan">
    <!--select name="selectAwesome" >
        <option ng-repeat="option in selectAttr" value="$index">{{option}}</option>
    </select-->
    </div>
    <button class="btn btn-info">
        Send
    </button>

    </form>
</div>